{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/login-register.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="center">
        {% include('./_app-flashes.html.twig') %}
    </div>

    <button class="btn back-btn"> <a href={{ path('app_register') }}> Inscription </a><i class="material-icons left">create</i></button>

        <form class="center z-depth-3" method="POST">
            <h1 class="">Connexion</h1>
            <div class="input-field">
                <input id="email" value="{{ last_username }}" name="email" required autofocus type="email"  />
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                <label for="password" >Mot de passe</label>
                <input id="password" type="password" name="password" required  />
                <i class="material-icons icon-pass-view" id="view1">visibility</i>
                <i class="material-icons icon-pass-hide" id="hide1">visibility_off</i>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn waves-effect waves-light" type="submit" name="action">Connexion
                <i class="material-icons right">send</i>
            </button>
            {% if error %}
                <span class="error-msg">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
        </form>

    <script src="{{ asset('assets/js/loginPassViewerIcon.js') }}" defer></script>
{% endblock %}
