{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/catalogue.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    {% if (is_granted("ROLE_EMPLOYEE")) %}
        {% include('headers/header-employee.html.twig') %}
    {% else %}
        {% include('headers/header-user.html.twig') %}
    {% endif %}
    <main>
        {% include('./_app-flashes.html.twig') %}
        {% for book in books %}
        <div class="container z-depth-2">
            {% include('books/_btn-dispo-book.html.twig') %}
            <div class="row">
                <div class="col l3 s4 book-img-container">
                    {% if book.cover %}
                        <img class="responsive-img" src="{{ asset(book.cover) }}" alt="image couverture"/>
                    {% else %}
                        <img class="responsive-img" src="{{ asset('assets/images/image-default.jpg') }}" alt="image couverture par defaut" />
                    {% endif %}
                </div>
                <div class="book-text-container col l9  s8">
                    <h1>{{ book.title }}</h1>
                    <p>{{ book.description }}</p>
                </div>
            </div>
            <div class="btn-container">
                <a class="btn" href="{{ path('books_show', {'id': book.id}) }}">Voir le livre</a>
            </div>
        </div>
        {% endfor %}
        </main>

    {% include('./_footer.html.twig') %}
{% endblock %}
