{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/catalogue.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/_filters-container.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    {% if (is_granted("ROLE_EMPLOYEE")) %}
        {% include('headers/header-employee.html.twig') %}
    {% else %}
        {% include('headers/header-user.html.twig') %}
    {% endif %}
    <main>
        {% include('./_app-flashes.html.twig') %}
        <div class="filters-container">
            {{ form_start(filterForm) }}
            <div class="input-field search-book">
                <i class="material-icons icon_prefix">search</i>
                {{ form_row((filterForm.searchBook)) }}
            </div>
            <div class="category-filter">
                {{ form_row(filterForm.filterByGenre) }}
                <button type="submit" class="btn"> <i class="material-icons">search</i> </button>
            </div>
            {{ form_end(filterForm) }}
        </div>

        {% for book in books %}
        <div class="container z-depth-2">
            {% include('books/_btn-dispo-book.html.twig') %}
            <div class="row">
                <div class="col l3 s4 book-img-container">
                    {% if book.cover %}
                        <img class="responsive-img" src="{{ asset(book.cover) }}" alt="image couverture"/>
                    {% else %}
                        <img class="responsive-img" src="{{ asset('assets/images/image-default.jpg') }}" alt="image couverture par defaut" />
                    {% endif %}
                </div>
                <div class="book-text-container col l9  s8">
                    <h1>{{ book.title }}</h1>
                    <p>{{ book.description }}</p>
                </div>
            </div>
            <div class="btn-container">
                <a class="btn waves-effect waves-light" href="{{ path('books_show', {'id': book.id}) }}">Voir le livre</a>
            </div>
        </div>
        {% endfor %}
        </main>

    {% include('./_footer.html.twig') %}
    <script  src="{{ asset('assets/js/init-dropdown.js') }}" defer></script>
    <script  src="{{ asset('assets/js/init-multipleSelect.js') }}" defer></script>

    <script defer>
        const select = document.querySelector('#filters_filterByGenre');
        const value = document.createElement('option')
        value.textContent = 'Genre'
        value.setAttribute('selected', '') ;
        value.setAttribute('disabled', '') ;
        value.setAttribute('value', '') ;

        select.append(value);

        select.addEventListener('change', (e) => {
            console.log(e.target.length)
            if(e.target < 1) {
                const value = document.createElement('option')
                value.textContent = 'Genre'
                value.setAttribute('selected', '') ;
                value.setAttribute('disabled', '') ;
                value.setAttribute('value', '') ;

                select.append(value);
            } else {
                value.remove();
            }
        })

        value.remove()
    </script>
{% endblock %}
