{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/catalogue.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/_filters-container.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    {% if (is_granted("ROLE_EMPLOYEE")) %}
        {% include('headers/header-employee.html.twig') %}
    {% else %}
        {% include('headers/header-user.html.twig') %}
    {% endif %}
    <main>
        {% include('./_app-flashes.html.twig') %}
        {% include('books/_filters-book.html.twig') %}

        {% for book in books %}
        <div class="container z-depth-2">
            {% include('books/_btn-dispo-book.html.twig') %}
            <div class="row">
                <div class="col l3 s4 book-img-container">
                    <img class="responsive-img" src="{{ asset(book.cover) }}" alt="image couverture"/>
                </div>
                <div class="book-text-container col l9  s8">
                    <h1>{{ book.title }}</h1>
                    <p>{{ book.description }}</p>
                    <p> Genre:
                        {% for category in book.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="btn-container">
                <a class="btn waves-effect waves-light" href="{{ path('books_show', {'id': book.id}) }}">Voir le livre</a>
            </div>
        </div>
        {% else %}
        <div class="center">
            <span>Aucun livre trouvé</span>
        </div>
        {% endfor %}
        {% if app.request.method is same as 'GET' %}
            {{ knp_pagination_render(books) }}
        {% endif %}
        </main>

    {% include('./_footer.html.twig') %}
    <script  src="{{ asset('assets/js/init-dropdown.js') }}" defer></script>
    <script  src="{{ asset('assets/js/init-multipleSelect.js') }}" defer></script>
    <script src="{{ asset('assets/js/addPlaceholderFilters.js') }}" defer></script>
    <script src="{{ asset('assets/js/search-input.js') }}" defer></script>
{% endblock %}
