{% extends 'base.html.twig' %}

{% block title %} {{ book.title }} - Médiathèque La Chapelle-Curreaux{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/modal.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/showBook.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    {% if (is_granted("ROLE_EMPLOYEE")) %}
        {% include('headers/header-employee.html.twig') %}
    {% else %}
        {% include('headers/header-user.html.twig') %}
    {% endif %}

    <main>
        <div class="container z-depth-2">
            {% include('books/_btn-dispo-book.html.twig') %}
            <div class="title-container row center">
                <h1>{{ book.title }}</h1>
            </div>
            <div class="row">
                <div class="book-img-container left">
                    {% if book.cover %}
                        <img class="responsive-img" src="{{ asset(book.cover) }}" alt="image couverture livre"/>
                    {% else %}
                        <img class="responsive-img" src="{{ asset('assets/images/image-default.jpg') }}"  alt="image couverture livre par defaut"/>
                    {% endif %}
                </div>
                <div class="book-text-container">

                    <p>
                        <u>Synopsis:</u>
                        {{ book.description }}
                    </p>
                    <p>
                        <u>Date de parution:</u>
                        {{ book.parutedAt|date('d/m/Y') }}
                    </p>
                    <p>
                        <u>Auteur(s):</u>
                        {% for author in book.authors %}
                            {{ author.name }}
                        {% endfor %}
                    </p>
                    <p>
                        <u>Genre:</u>
                        {% for category in book.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="btn-container">
                {% if (is_granted("ROLE_EMPLOYEE")) %}
                {{ include('books/_delete_form.html.twig') }}
                {% endif %}
                <a class="waves-effect waves-light btn modal-trigger {{ book.isFree ? '' : 'disabled' }}" href="#emprunte-modal"><i class="material-icons right">add</i>Emprunter</a>
            </div>
        </div>
    </main>
    {% include('./_footer.html.twig') %}

    <div id="emprunte-modal" class="modal">
        <div class="modal-content">
            <h4>Confirmation d'emprunt</h4>
            <p> NOTE: Vous vous engagez à récupérer le livre dans un délai de 3 jours sous peine d'annulation de votre emprunt. </p>
        </div>
        <div class="modal-footer">
            <a class="btn waves-effect waves-light" href="{{ path('books_reservations_new', {'id': book.id }) }}">
                Je confirme</a>
            <a href="#" class="btn waves-effect waves-light modal-close">Annuler</a>
        </div>
    </div>


    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.modal');
            const options = {}

            const instances = M.Modal.init(elems, options);
        });
    </script>
{% endblock %}
