<header>
    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo">
                <span class="flow-text">
                    <i class="cloud-logo material-icons left">cloud</i>
                    Médiathèque La Chapelle-Curreaux
                </span>
            </div>

            <ul id="dropdown-admin" class="dropdown-content">
                <li><a class="nav-link" href="{{ path('books_new') }}">Ajouter nouveau livre</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('books_reservations_index') }}">Emprunts utilisateur</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger nav-link" href="#!" data-target="dropdown-admin">Administration<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="nav-link" href="{{ path('books_index') }}">Catalogue</a></li>
                <li><a class="nav-link" href="{{ path('user_books_reservations') }}">Emprunts</a></li>
                <li><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>



            <a class='dropdown-trigger waves-effect waves-light btn hide-on-large-only' href='#' data-target='dropdown-menu'>
                Menu
            </a>
            <ul id='dropdown-menu' class='dropdown-content'>

                <li><a href="{{ path('books_new') }}">Ajouter nouveau livre</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{ path('books_reservations_index') }}">Emprunts utilisateur</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{ path('books_index') }}">Catalogue</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{ path('user_books_reservations') }}">Mes Emprunts</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
            </ul>
        </div>
    </nav>
</header>