<div id="newAuthor-modal" class="modal">
    <div class="modal-content">
        <h4>Ajout d'un nouvel auteur</h4>
        {{ form_start(authorForm) }}
        <div class="input-field">
            {{ form_widget(authorForm.name) }}
            {{ form_label(authorForm.name) }}
            {{ form_errors(authorForm.name) }}
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn waves-effect waves-light modal-close">Annuler</a>
        <button type="submit" class="btn">Créer</button>
    </div>
    {{ form_end(authorForm) }}
</div>