{% extends 'base.html.twig' %}

{% block title %}Emprunts Utilisateurs{% endblock %}
{% block stylesheets %}
<link href="{{ asset('assets/css/reservations.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% include('headers/header-employee.html.twig') %}
    <main>
        {% include('./_app-flashes.html.twig') %}
        {# LISTE BIG SCREEN #}
        <div class="large-main">
            <div class="row center">
                <h1>Liste des emprunts</h1>
            </div>
            <div class="row">
                <table class="table centered">
                    <thead>
                    <tr>
                        <th>Statuts</th>
                        <th>Livres</th>
                        <th>Utilisateurs</th>
                        <th>Dates de réservation</th>
                        <th>Dates d'emprunt maximum</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            {% include('books_reservations/_status-text.html.twig') %}
                            <td style="width: 20%;"> <a href="{{ path('books_show', {'id': reservation.books.id}) }}" target="_blank"> {{ reservation.books.title }} </a> </td>
                            <td style="width: 20%;"> <a href="mailto:{{ reservation.user.email }}"> {{ reservation.user.lastname }} {{ reservation.user.firstname|upper}} </a></td>
                            <td style="width: 10%;">{{ reservation.reservedAt|date('d/m/Y à H:m:s') }}</td>
                            <td style="width: 10%;">{{ reservation.isCollected ? reservation.collectedAt|date_modify('+3 weeks')|date('d/m/Y H:i:s') : ' - ' }} </td>
                            <td class="actions">
                                {% include('books_reservations/_delete_form.html.twig') %}
                                {% include('books_reservations/_update-book-status.html.twig') %}
                            </td>
                        </tr>
                        {% else %}
                        <td colspan="6">Aucun emprunt n'est en cours</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# LISTE RESPONSIVE  #}
        <div class="responsive-main">
            <div class="row center">
                <h1>Liste des emprunts</h1>
            </div>
        {% for reservation in reservations %}
            <div class="container responsive-card z-depth-2">
                <div class="row">
                    <p id="status"><u><b>Statut:</b></u> {% include('books_reservations/_status-text-responsive.html.twig') %} </p>
                    <p><u><b>Livres:</b></u> <a href="{{ path('books_show', {'id': reservation.books.id}) }}" target="_blank"> {{ reservation.books.title }}</a></p>
                    <p><u><b>Utilisateurs:</b></u> <a href="mailto:{{ reservation.user.email }}"> {{ reservation.user.lastname }} {{ reservation.user.firstname|upper}}</a></p>
                    <p><u><b>Dates d'emprunt:</b></u> {{ reservation.reservedAt|date('d/m/Y à H:m:s')}}</p>
                    <p><u><b>Dates d'emprunt maximum:</b></u> {{ reservation.isCollected ? reservation.collectedAt|date_modify('+3 weeks')|date('d/m/Y H:i:s') : ' - ' }} </p>
                </div>
                <div class="btn-container">
                    {% include('books_reservations/_delete_form.html.twig') %}
                    {% include('books_reservations/_update-book-status.html.twig') %}
                </div>
            </div>
        {% else %}
            <div class="row center">
                <span>Aucun emprunt n'est en cours</span>
            </div>
        {% endfor %}
        </div>

    </main>
    {% include('./_footer.html.twig') %}
    <script src="{{ asset('assets/js/init-dropdown.js') }}" defer></script>
    <script src="{{ asset('assets/js/background-reservation-alert.js') }}" defer></script>
{% endblock %}
