{% extends 'base.html.twig' %}

{% block title %}BooksReservations{% endblock %}

{% block body %}
    <h1>BooksReservations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ books_reservation.id }}</td>
            </tr>
            <tr>
                <th>ReservedAt</th>
                <td>{{ books_reservation.reservedAt ? books_reservation.reservedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsCollected</th>
                <td>{{ books_reservation.isCollected ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('books_reservations_index') }}">back to list</a>



    {{ include('books_reservations/_delete_form.html.twig') }}
{% endblock %}
