{% extends 'base.html.twig' %}

{% block title %} Emprunt utilisateurs {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/_modal.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/_alert-reservations.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/reservations.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    {% if (is_granted("ROLE_EMPLOYEE")) %}
        {% include('headers/header-employee.html.twig') %}
    {% else %}
        {% include('headers/header-user.html.twig') %}
    {% endif %}
    <main>
        {% include('./_app-flashes.html.twig') %}
        <div class="large-main">
            <div class="container">
                <div class="row center">
                    <h1>Mes Emprunts</h1>
                </div>

                {% include('books_reservations/_alert-container_user.html.twig') %}

                <div class="row">
                    <table class="table centered">
                        <thead>
                        <tr>
                            <th>Livre</th>
                            <th>Date de réservation</th>
                            <th>Date d'emprunt maximum</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for reservation in reservations %}
                            <td style="width: 30%;">{{ reservation.books.title }}</td>
                            <td style="width: 20%;">{{ reservation.reservedAt|date('d/m/Y H:i:s') }}</td>
                            <td style="width: 20%;">{{ reservation.isCollected ? reservation.collectedAt|date_modify('+3 weeks')|date('d/m/Y H:i:s') : ' - ' }}</td>
                            <td class="actions">
                                <a class="waves-effect waves-light btn modal-trigger {{ reservation.isCollected ? 'disabled' : '' }}" style="color: #FFFFFF" href="#cancel-modal-large-{{ loop.index }}">Annuler l'emprunt</a>
                            </td>
                        </tr>

                        <div id="cancel-modal-large-{{ loop.index }}" class="modal">
                            <div class="modal-content">
                                <h4>Annulation d'emprunt</h4>
                                <p>Cette action est irréversible. Êtes-vous sûr d'annuler cette emprunt ? </p>
                            </div>
                            <div class="modal-footer">
                                {% include('books_reservations/_cancel-reservation.html.twig') %}
                                <a href="#" class="btn waves-effect waves-light modal-close">Annuler</a>
                            </div>
                        </div>
                        {% else %}
                                <td colspan="4">Vous n'avez pas d'emprunt en cours</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="responsive-main">
            <div class="row center">
                <h1>Mes emprunts</h1>
            </div>
            {% if outdatedReservations %}
                {% for reservation in outdatedReservations %}
                    <div class="row alert-container z-depth-1">
                        <div class="alert-img-container">
                            <img src="{{ asset('assets/images/caution.png') }}" class=" responsive-img" />
                        </div>
                        <div>
                            <h2>Vous avez dépasser le délai de garde de :</h2>
                            <ul>
                                <li> {{ reservation.books.title}} </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% for reservation in reservations %}
                <div class="responsive-user-reservation z-depth-1">
                    <div class="row">
                        <p><u><b>Livre:</b></u> <a href="{{ path('books_show', {'id': reservation.books.id}) }}"> {{ reservation.books.title }}</a></p>
                        <p><u><b>Date d'emprunt:</b></u> {{ reservation.reservedAt|date('d/m/Y à H:m:s')}}</p>
                        <p><u><b>Date d'emprunt maximum:</b></u>{{ reservation.isCollected ? reservation.collectedAt|date_modify('+3 weeks')|date('d/m/Y H:i:s') : ' - ' }}</p>
                    </div>
                    <div class="btn-container row">
                        <a class="waves-effect waves-light btn btn-small modal-trigger {{ reservation.isCollected ? 'disabled' : '' }}" href="#cancel-modal-responsive-{{ loop.index }}" style="color: #FFFFFF"> Annuler l'emprunt </a>
                    </div>
                </div>

                <div id="cancel-modal-responsive-{{ loop.index }}" class="modal">
                    <div class="modal-content">
                        <h4>Annulation d'emprunt</h4>
                        <p>Cette action est irréversible. Êtes-vous sûr d'annuler cette emprunt ? </p>
                    </div>
                    <div class="modal-footer">
                        {% include('books_reservations/_cancel-reservation.html.twig') %}
                        <a href="#" class="btn waves-effect waves-light modal-close">Annuler</a>
                    </div>
                </div>

                {% else %}
                    <div class="row center">
                        <span class="">Vous n'avez pas d'emprunt</span>
                    </div>

            {% endfor %}
        </div>
    </main>

    {% include('./_footer.html.twig') %}

    <script src="{{ asset('assets/js/init-modal.js') }}" defer></script>
    <script src="{{ asset('assets/js/init-dropdown.js') }}" defer></script>
{% endblock %}